@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0
	}

body{
	background-color:rgb(230,255,186);
	}

nav{
	background-color:rgb(111,161,47);
	color: rgba(255,0,4,1.00);
	text-align:center;
	width:100%;
	padding:20px;
	box-sizing:border-box;
	position:fixed;
	word-spacing: 50px;

	}

a{
		text-decoration: none;
		word-spacing: 80px;
		font-family: sans-serif;
		font-size: large;
		color: rgb(230,255,186)
}

h1{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:200%;
	color:rgb(25,71,19);

	}

section{
	height:1200px;
	padding:100px;
	box-sizing:border-box;
	}
